@font-face{
	font-family: valentine;
	src:url(../fonts/valentine.ttf) format('truetype');
}

@font-face{
	font-family: quintal;
	src:url(../fonts/quintal.otf) format('opentype');
}


.valentine{
	font-family: valentine;
	font-size: 40px;
	color: aquamarine;
}

.quintal{
	font-family: quintal;
	font-size: 40px;
	color: blue;
}

table{
		border-collapse: collapse;
}

td{
	border: 2px solid black;
	margin: 0 auto;
}